<div class="container">
	<div class="page-header">
		<h1>Demo <small>See it in action!</small></h1>
	</div>
	<p>Click the thumbnail below to open the lightbox. This demo includes the optional <code>.lightbox-caption</code> element, which adds an image caption.</p>

	<!-- -->
	<div class="example">
		<a data-toggle="lightbox" href="#demoLightbox" class="img-thumbnail">
			<img src="assets/img/small.png" alt="Click to view the lightbox">
		</a>
		<div id="demoLightbox" class="lightbox fade"  tabindex="-1" role="dialog" aria-hidden="true">
			<div class='lightbox-dialog'>
				<div class='lightbox-content'>
					<img src="assets/img/large.png">
					<div class="lightbox-caption"><p>Your caption here</p></div>
				</div>
			</div>
		</div>
	</div>
	<!-- -->
<pre class="prettyprint linenums">&lt;div id=&quot;demoLightbox&quot; class=&quot;lightbox fade&quot;  tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class='lightbox-dialog'&gt;
		&lt;div class='lightbox-content'&gt;
			&lt;img src=&quot;image.png&quot;&gt;
			&lt;div class=&quot;lightbox-caption&quot;&gt;&lt;p&gt;Your caption here&lt;/p&gt;&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>
	<!-- -->
</div>
