<div class="jumbotron masthead">
	<div class="container">
		<h1>Bootstrap Lightbox</h1>
		<p>A simple lightbox plugin based on the bootstrap modal plugin.</p>
		<p><a href="assets/bootstrap-lightbox.zip" class="btn btn-primary btn-lg">Download Bootstrap Lightbox</a></p>
		<ul class="masthead-links">
			<li><a href="http://github.com/jbutz/bootstrap-lightbox">GitHub project</a></li>
			<li>Version {{ version }}</li>
		</ul>
	</div>
</div>
<div class="social-btns">
	<div class="container">
		<ul class="social-links">
			<li>
				<iframe src="http://ghbtns.com/github-btn.html?user=jbutz&repo=bootstrap-lightbox&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
			</li>
			<li>
				<iframe src="http://ghbtns.com/github-btn.html?user=jbutz&repo=bootstrap-lightbox&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
			</li>
			<li>
				<iframe src="http://ghbtns.com/github-btn.html?user=jbutz&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165px" height="20px"></iframe>
			</li>
		</ul>
	</div>
</div>
